<!DOCTYPE html>
<html lang="pl"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../arena.css">
</head>
<body>


<table class="menu_table" style="width: 600px;" border="4" cellpadding="65">
    <tbody>
    <tr>
        <td>Photo:<br>
            <img class="img" src="../img/enemy.png" height="150" width="150"></td>
        <td></td>
        <td> </td>


        <td>

        </td>
        <td></td>

    </tr>
    </tbody>
</table>


    <h1> VS </h1>

<table class="menu_table" style="width: 600px;" border="4" cellpadding="65">
    <tbody>
    <tr>
        <td>Photo:<br>
            <img th:src="${pikachu.getPhoto()}" height="150" width="150">
        </td>
        <td th:text="${pikachu.getName()}"></td>
        <td><form method="get">
            <input type="hidden" value="1" name="id">
            <select name="attackId">
                <option value="1">attack with defense</option>
                <option value="2">pure attack</option>
            </select>
            <input type="submit" value="attack">


        </form> </td>


        <td>
            <form method="get">
                <input type="hidden" value="2" name="id">
                <input type="submit" value="defense">
            </form>

        </td>
        <td><form method="get">
            Use Skill:
            <p th:text="${pikachu.getSKILL_1()}"></p>
            Attack anemy with thunder
            <select name="skillId">
                <option value="3" th:text="${pikachu.getSKILL_1()}"></option>
                <option value="4" th:text="${pikachu.getSKILL_2()}"></option>
                <option value="5" th:text="${pikachu.getSKILL_3()}"></option>
                <option class="spec" value="6" th:text="${pikachu.getSPECIAL()}"></option>
            </select>
            <input type="submit" value="use skill">
        </form></td>

        <td>HP: <p th:text="${pikachu.getHitPoints()}"></p></td>
        Energy:
        <td> Energy: <p th:text="${pikachu.getEnergy()}"></p></td>
    </tr>
    </tbody>
</table>

<br>



</body>
</html>