<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="home.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container">
    <section id="content">
        <form action="">
            <h1>Pokemon Game App </h1>
            <p>Zarejestruj się:</p>
            <div>
                <input type="text" placeholder="Adres e-mail:" required="" id="username" />
            </div>
            <div>
                <input type="password" placeholder="Hasło:" required="" id="password" />
            </div>
            <div>
                <input type="submit" value="Zarejestruj się" />
                <a href="#">Lost your password?</a>
                <a href="#">Register</a>
            </div>
        </form><!-- form -->
        <div class="button">
            <a href="#">Download source file</a>
        </div><!-- button -->
    </section><!-- content -->
</div><!-- container -->
</body>
</html>